<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.collection_select(:name,Menu.all,:name,:name) %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.collection_select(:price,Menu.all,:price,:price) %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.hidden_field :subtotal, :value => "subtotal" %><br />
    <%= f.hidden_field :subtotal, :value => "subtotal" %>
  </div>
  <div class="field">
    <%= f.label :kitchen_status %><br />
    <%= f.check_box :kitchen_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
