<h1>Listing checkouts</h1>

<table>
  <tr>
    <th>Ticket</th>
    <th>Paid status</th>
    <th>Subtotal</th>
    <th>Tax</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checkouts.each do |checkout| %>
  <tr>
    <td><%= checkout.ticket_id %></td>
    <td><%= checkout.paid_status %></td>
    <td><%= number_to_currency(checkout.subtotal) %></td>
    <td><%= checkout.tax %></td>
    <td><%= number_to_currency(checkout.total) %></td>
    <td><%= link_to 'Show', checkout %></td>
    <td><%= link_to 'Edit', edit_checkout_path(checkout) %></td>
    <td><%= link_to 'Destroy', checkout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Checkout', new_checkout_path %>
