<!DOCTYPE html>
<html>
<head>
  <title>IndividualProjectRestaurant</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1> Angels Restaurant Order System</h1>
<%=link_to "Menus", menus_path %>
<%=link_to "Tickets", tickets_path %>
<%=link_to "Checkouts", checkouts_path %>
<%= yield %>

</body>
</html>
